<div id="<%= dom_id flat %>" class="card" style="width: 25rem;">
  <div class="card-header">
    <h2>
      <%= flat.name %>
    </h2>

    <p>
      <strong><%= flat.address %></strong>
    </p>

    <i class="fa-solid fa-users"></i><%=flat.number_of_guests %>

    <i class="fa-solid fa-euro-sign"></i><%= flat.price_per_night %>

  </div>

  <div class="card-body">
      <%= link_to "More info", flat, class:"link-no-underline" %>
  </div>
</div>
